@import 'variables';

// Fonts

@font-face {
  font-family: CONDENSEicon;
  font-display: swap;
  src: url(assets/fonts/CONDENSEicon.woff2) format('woff2'),
       url(assets/fonts/CONDENSEicon.woff) format('woff'),
       url(assets/fonts/CONDENSEicon.ttf) format('truetype');
}

// Animation

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}

.fadeIn {
  animation: .3s fadeIn forwards;
}

.fadeOut {
  animation: .3s fadeOut forwards;
}

img {
  vertical-align: bottom;
}

h1, h2, p {
  padding: 0;
  margin: 0;
}

a {
  outline: 0;
  text-decoration: none;
  color: $color-black;
}

body {
  padding: 0;
  margin: 0;
  color: $color-black;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 14px;
  background: url(assets/background.jpg), #F5F5F5;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

$container-width: 800px;
$container-height: 600px;

main {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: 0 - $container-height / 2;
  margin-left: 0 - $container-width / 2;
  opacity: 0;
  animation: .5s fadeIn forwards;
}

#container {
  width: $container-width - $margin-extra-large * 2;
  height: $container-height - $margin-extra-large * 2;
  padding: $margin-extra-large - $border-width;
  background: radial-gradient(circle at top left, #FFFFFF, #FAFAFA);
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, .12);

  .relative {
    width: $container-width - $margin-extra-large * 2;
    height: $container-height - $margin-extra-large * 2;
  }
}

.relative {
  position: relative;
}

.absolute {
  width: 100%;
  position: absolute;
}

header {
  h1 {
    height: 26px;
    font-size: 24px;
    line-height: 26px;
    font-family: Quicksand;
    margin-top: $margin-large;
    margin-left: $margin-large;
  }

  #profile-icon {
    width: 136px - $border-width * 4 * 2;
    height: 136px - $border-width * 4 * 2;
    border: ($border-width * 4) solid $border-color;
    border-radius: 100%;
    background: url(assets/icon.jpg) center / cover no-repeat;
    top: 0;
    right: $margin-extra-large;
    position: absolute;
  }

  #border {
    display: flex;
    justify-content: space-between;
    margin: $margin-medium 0;

    div {
      background: $border-color;
      width: 100%;
      height: 2px;

      &:first-child {
        width: 504px;
      }

      &:last-child {
        width: 32px;
      }
    }
  }

  p {
    margin-left: $margin-large;
    margin-right: $margin-large;
    margin-bottom: $margin-small;
    line-height: 12px;
    height: 12px;
    white-space: pre-wrap;
    font-family: Quicksand;

    span {
      margin-right: 8px;
      font-family: CONDENSEicon;
    }
  }
}

#body {
  width: 100%;
  top: 184px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

#articles {
  display: flex;

  article {
    width: 232px - $border-width * 2 - ($margin-medium - $border-width) * 2;
    height: 260px - $border-width * 2 - ($margin-medium - $border-width) * 2;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: $margin-medium - $border-width;
    position: relative;
    background: $color-white;

    &:first-child {
      margin-right: $margin-extra-large;
    }

    h2 {
      font-size: 12px;
      line-height: 12px;
      font-family: Quicksand;
      margin-bottom: $margin-medium;
    }

    .article {
      width: 200px - $border-width * 2 - $margin-medium * 2;
      height: 72px - $border-width * 2 - $margin-medium * 2;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
      margin-bottom: $margin-medium;
      padding: $margin-medium;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        transition: 0.25s ease;
        background: $color-gray;
      }

      .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .footer {
        color: $color-dark-gray;
        font-family: Quicksand;
        font-size: 10px;
        line-height: 10px;
        display: flex;
        justify-content: space-between;
      }
    }

    .read-more {
      width: 200px - $border-width * 2;
      height: 24px - $border-width * 2;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
      font-family: Quicksand;
      font-size: 10px;
      line-height: 24px;
      text-align: center;
      bottom: $margin-medium - $border-width;
      position: absolute;

      &:hover {
        transition: 0.25s ease;
        background: $color-gray;
      }
    }
  }
}

nav {
  .link {
    width: 144px - $border-width * 2 - $margin-medium * 2;
    height: 32px - $border-width * 2;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    margin-bottom: $margin-medium;
    padding: 0 $margin-medium;
    line-height: 32px - $border-width * 2;
    font-family: Quicksand;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: $color-white;

    &:hover {
      transition: 0.25s ease;
      background: $color-gray;
    }

    div {
      &:first-child {
        img {
          vertical-align: middle;
        }
      }
    }
  }
}

footer {
  #copyright {
    bottom: 0;
    right: 0;
    position: absolute;
    font-family: Quicksand;
    font-size: 10px;
    line-height: 10px;
  }
}

.description {
  font-family: Quicksand;
}

.resume {
  text-decoration: underline;
}
